PORT=5000
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.acttn6b.mongodb.net/abbasi_db?retryWrites=true&w=majority&appName=Cluster0
NODE_ENV=development
JWT_SECRET=replace_with_a_long_random_secret
MONGO_CONNECT_RETRIES=5
MONGO_RETRY_DELAY_MS=3000
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=superadmin@abbasi.com
SUPER_ADMIN_PASSWORD=Admin@123
